@media all and (max-width: 767px) and (min-width:375px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    section {
        padding: 50px 0 100px 0;
        background-image: url(img/bg\ image\ 1.jpg);
        background-size: cover;
        color: white;
    }

    .scroll-down {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
    }

    .slider {
        padding: 50px 0 100px 0;
        background-image: url(img/bg\ image\ 2.jpg);
        background-size: cover;
        color: white;
    }

    .carousel-item>img {
        width: 400px;
    }

    .features {
        padding: 50px 0 50px 0;
        background-image: url(img/Group.jpg);
        background-size: cover;
        color: white;
    }

    .feature {
        padding-top: 10px;
    }

    .requirements {
        padding: 50px 0 50px 0;
        background-image: url(img/Group\ 2.jpg);
        background-size: cover;
        color: white;
    }

    .requirement {
        padding-top: 50px;
    }

    .scores {
        padding: 50px 0 50px 0;
        background-image: url(img/Untitled-1.jpg);
        background-size: cover;
        color: white;
    }

    .card {
        width: 90%;
    }

    #geser {
        left: 0;
    }

    footer {
        padding: 50px 0 50px 0;
        background: url(img/Untitled-2.jpg);
        background-size: cover;
        color: white;
    }

    .subscribe {
        height: 400px;
    }
}