.body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 24px;
}

.btn {
    width: 200.36px;
    text-align: center;
    font-weight: bold;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 12px;
    opacity: 0.5;
}

section {
    padding: 180px 0 500px 0;
    background-image: url(../images/bg\ image\ 1.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
    color: white;
}

.banner {
    position: relative;
    height: 100%;
}

.scroll-down {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.slider {
    padding: 180px 0 200px 0;
    background-image: url(../images/bg\ image\ 2.jpg);
    /* background-size: 100% 100%; */
    background-size: cover;
    color: white;
}


/* ================================= */
.features {
    padding: 180px 0 200px 0;
    background-image: url(../images/Group.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
    color: white;
}

.feature {
    position: relative;
    padding-top: 50px;
    margin-top: 0;
}

.ft-item {
    border-radius: 3px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
}

.ft-item>* {
    padding: 10px
}

.ft-item:last-child .ft-dot:after {
    display: none
}

.ft-dot {
    position: relative;
}

.ft-dot:after,
.ft-dot:before {
    content: '';
    position: absolute;
    border-color: inherit;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 15px;
    left: 50%;
    transform: translateX(-50%)
}

.ft-dot:after {
    width: 0;
    height: auto;
    top: 25px;
    bottom: -15px;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0
}

.ft-content p:last-child {
    margin-bottom: 0
}

.b-primary {
    border-color: white !important
}

/* ========================= */

.requirements {
    padding: 100px 0 200px 0;
    background-image: url(../images/Group\ 2.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
    color: white;
}

.requirement {
    padding-top: 150px;
}

.title-req {
    color: #FFB548;
}

.scores {
    padding: 150px 0 180px 0;
    background-image: url(../images/Untitled-1.jpg);
    /* background-size: 100% 100%; */
    background-size: cover;
    color: white;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 10px;
}

.user-image {
    background-color: #FFB548;
    border-radius: 50%;
}

.user-image img {
    right: 5px;
    bottom: 2px;
    position: relative;
    /* border: 3px solid rgb(208, 255, 0); */
    padding: 2px
}

#geser {
    left: 100px;
}

footer {
    padding: 100px 0 10px 0;
    /* background-color: #080A0B; */
    background: url(../images/Untitled-2.jpg);
    background-size: 100% 100%;
    /* background-size: cover; */
    color: white;
}

.subscribe {
    height: 600px;
}


.line {
    border-top: 1px solid #7B1FA2;
    width: 100% !important
}

.form-group {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 5px;
}

input[type=email] {
    background-color: rgba(255, 255, 255, 0.08);
    color: white;
}