body {
    background-color: #967c59;
}

.papan_score {
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    color: white;
    font-size: 46px;
    position: relative;
}

.nama {
    background-color: #E25840;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user_lb {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp_lb {
    position: absolute;
    top: 30px;
    right: -25px;
}

.card {
    border-radius: 20px;
    border-color: #967c59;
    background-color: #967c59;
}

.card>img {
    width: 85px;
    height: 120px;
}

.card.user:hover {
    background-color: #aa9579;
    cursor: pointer;
}

.sembunyi {
    display: none !important;
}

.hasil {
    width: 170px;
    color: #ffffff;
    border-radius: 8px;
    background-color: #4C9654;
    transform: rotate(-28deg);
}

.refresh:hover {
    cursor: pointer;
    transform: rotate(-28deg);
}